{% from "macros/log.html" import get_attachment_icon %}

{% macro render_folder_nav(active=none) %}
  render_folder_nav
{{site.query('/log').include_undiscoverable(true)}}
  <ul>
  {% for folder in site.query('/log').filter(F._model == 'project-entry') %}
    <li{% if folder._id == active %} class="active"{% endif
      %}><a href="{{ folder|url }}">{{ folder.name }}</a>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_project_list(projects) %}
  <ul>
  {% for project in projects %}
    <li><a href="{{ project|url }}">{{ project.name }}</a>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_my_folders(active=none) %}
  <ul>
  <li>folders:
  {% for folder in site.query('/folders') %}
    {% if folder._id in active %}<li>
    <a href="{{ folder|url }}">{{ folder.name }}</a></li>{% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
