{% macro render_years(logs, from_index=false) %}
{% for year in logs.children %}
  {% if from_index %}
    <a href="{{ year|url }}">{{ year.title }}</a>
  {% else %}
    <strong>{{ year.title }}</strong>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro render_months(months, active=None) %}
  {% for month in months %} 
    {% if month == active %}
      <a class="active" href="{{month|url}}">{{month.label}}</a>
    {% elif not month.children %}
      <a class="nochildren" href="{{month|url}}">{{month.label}}</a>
    {% else %}
      <a href="{{month|url}}">{{month.label}}</a>
    {% endif %}
  {% endfor %}
{% endmacro %}


<!-- render_month displays links to days -->
{% macro render_days(month, active=None) %}
  {% for day in month.children %}
    <a {% if day == active %}class="active"{% endif %} href="{{ day|url }}">{{ day.path.split('/')[-1]|int }}</a> 
  {% endfor %}
{% endmacro %}

<!-- 
This macro renders html for a log-entry, and is intended to be used on pages
that display a single log-entry, or pages that index a list of log-entries.

It always returns the date, author, and title. For an index this is enough.

By default it also includes 'body' contents, but index pages can hide body 
by setting 'from_index=True'.
-->
{% macro link_to_hidden_day(entry) %}
  <form target="frame" action="/admin/api/browsefs" method="post">
    <input type="hidden" name="path" value="{{entry.path}}">
    <input class="hidden-button-link" type="submit" value="{{ entry.path.split('/')[-1]|int }}">
  </form> 
{% endmacro %}

{% macro link_to_day(entry, active=None) %}
  <a {% if entry == active %}class="active"{% endif %} href="{{ entry|url }}">{{ entry.path.split('/')[-1]|int }}</a> 
{% endmacro %}

{% macro render_day_index(entry) %}
<div class="day-index">
  <div class="row">
    <div class="five columns"> <!-- description -->
      {% if entry.description %}
      <h5>{{entry.parent.label}}-{{ entry.path.split('/')[-1]|int }}: <a href="{{ entry|url }}">{{ entry.description }}</a></h5>
      {% else %}
      <h5><a href="{{ entry|url }}">{{entry.parent.label}}-{{ entry.path.split('/')[-1]|int }}</a></h5>
      {% endif %}
      {% for item in entry.attachments.filter(F._attachment_type != 'image') %}
        {{ get_attachment_icon(item._id) }}
      {% endfor %}
    </div>
    <div class="one column">
      <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
      <input type="hidden" name="path" value="{{entry.path}}">
      <input type="image" src={{ '/static/images/link.png'|url }}>
      </form>
    </div>
    {% if entry.attachments %}
      <div class="five columns"> <!-- attachments -->
        {% for image in entry.attachments.images %}
          {% if image.height > 100 %}
            <a href="{{image|url}}"><img src="{{ image.thumbnail(100)|url }}"></a>
          {% else %}
            <a href="{{image|url}}"><img src="{{ image|url }}"></a>
          {% endif %}
        {% endfor %}
        {% for item in entry.attachments.filter(F._attachment_type != 'image') %}
          {% if loop.first %}<br/>{% endif %}
          <a class="orange3" href="{{entry|url}}">{{item.path.split('/')[-1]}}</a>{{ get_attachment_icon(item._id) }}{% if not loop.last %},{% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {{render_day_subfolders(entry)}}
  
</div> <!-- end class day-index -->
{% endmacro %}


{% macro render_day_subfolders(entry) %}
  {% for child in entry.children recursive %}
    {% set thumbsize = 100/loop.depth %}
    {% set fontsize = 100-(10*loop.depth0) %}
    <div class="row">
      <div class="one column"></div>
      <div class="five columns"> <!-- description -->
        <a style="margin-left:{{loop.depth0 * 2}}rem" href="{{child|url}}">&boxur; <span class="orange{{loop.depth}}">{{child.path.split('/')[-1]}}/{% if child.description %}</span><span style="font-size:{{fontsize}}%"> {{child.description}}</span>{% else %}</span>{% endif %}</a><br/>
        {% if child.attachments %}
          <span style="margin-left:{{3+loop.depth0 * 2}}rem" class="gray">
          {% for item in child.attachments.filter(F._attachment_type != 'image') %}
            {{ get_attachment_icon(item._id) }}
          {% endfor %}
          </span>
        {% endif %}
      </div>
      <div class="one column">
        <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
        <input type="hidden" name="path" value="{{child.path}}">
        <input type="image" src={{ '/static/images/sublink.png'|url }}>
        </form>
      </div>
      {% if child.attachments %}
        <div class="five columns"> <!-- attachments -->
          {% for image in child.attachments.images %}
            {% if image.height > 100 %}
              <a href="{{image|url}}"><img src="{{ image.thumbnail(thumbsize)|url }}"></a>
            {% else %}
              <a href="{{image|url}}"><img src="{{ image|url }}"></a>
            {% endif %}
          {% endfor %}
          {% for item in child.attachments.filter(F._attachment_type != 'image') %}
            {% if loop.first %}<br/>{% endif %}
            <a class="green" href="{{entry|url}}">{{item.path.split('/')[-1]}}</a>{{ get_attachment_icon(item._id) }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {{ loop(child.children) }}
    {% endfor %}
{% endmacro %}

{% macro get_attachment_icon(item_id, color_class='') %}
  {% if item_id.endswith('.ai') %}<i class="fa fa-object-ungroup"></i>{% endif %}
  {% if item_id.endswith('.doc') %}<i class="fa fa-file-word-o"></i>{% endif %}
  {% if item_id.endswith('.docx') %}<i class="fa fa-file-word-o"></i>{% endif %}
  {% if item_id.endswith('.key') %}<i class="icon ion-easel"></i>{% endif %}
  {% if item_id.endswith('.ppt') %}<i class="fa fa-file-powerpoint-o"></i>{% endif %}
  {% if item_id.endswith('.pptx') %}<i class="fa fa-file-powerpoint-o"></i>{% endif %}
  {% if item_id.endswith('.mp4') %}<i class="fa fa-file-video-o"></i>{% endif %}
  {% if item_id.endswith('.mpg') %}<i class="fa fa-file-video-o"></i>{% endif %}
  {% if item_id.endswith('.pages') %}<i class="fa fa-pencil-square-o"></i></i>{% endif %}
  {% if item_id.endswith('.pdf') %}<i class="fa fa-file-pdf-o"></i>{% endif %}
  {% if item_id.endswith('.psd') %}<i class="fa fa-file-image-o"></i>{% endif %}
  {% if item_id.endswith('.py') %}<i class="icon ion-social-python"></i>{% endif %}
  {% if item_id.endswith('.seq') %}<i class="icon ion-ios-pulse"></i>{% endif %}
  {% if item_id.endswith('.svg') %}<i class="fa fa-object-ungroup"></i>{% endif %}
  {% if item_id.endswith('.sublime-settings') %}<i class="fa fa-cogs"></i>{% endif %}
  {% if item_id.endswith('.ttf') %}<i class="fa fa-font"></i>{% endif %}
  {% if item_id.endswith('.tif') %}<i class="fa fa-file-image-o"></i>{% endif %}
  {% if item_id.endswith('.tiff') %}<i class="fa fa-file-image-o"></i>{% endif %}
  {% if item_id.endswith('.webm') %}<i class="fa fa-file-video-o"></i>{% endif %}
  {% if item_id.endswith('.xls') %}<i class="fa fa-file-excel-o"></i>{% endif %}
  {% if item_id.endswith('.zip') %}<i class="fa fa-file-archive-o"></i>{% endif %}
{% endmacro %}

{% macro render_day_entry(entry, from_index=false, yyyymm=false) %}
<div class="day-entry">
  {% if not from_index %}
    <h2 class="active">
  {% endif %}
  <div class="row"> <!-- date,author,title row -->
    <div class="five columns"> <!-- description -->
      {% if from_index %}
      {% if yyyymm %}
        <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
        <input type="hidden" name="path" value="{{entry.path}}">
        <input type="image" src={{ '/static/images/link.png'|url }}>
        </form>
        {{entry.pub_date.year}}-{% endif %}{{entry.parent.label}}-{{ entry.path.split('/')[-1]|int }}: <a href="{{ entry|url }}">{{ entry.description }}</a>{% for child in entry.children %} <a class="{{ loop.cycle('color1', 'color2', 'color3','color4') }}" href="{{child|url}}">{{child.description}}</a>{% endfor %}<br/>
        </div>
        <div class="six columns"> <!-- description -->
        {% for child in entry.children recursive %}
          {% if child.attachments %}
              {% for image in child.attachments.images %}
                {% if image.height > 100 %}
                  <a href="{{image|url}}"><img src="{{ image.thumbnail(100)|url }}"></a>
                {% else %}
                  <a href="{{image|url}}"><img src="{{ image|url }}"></a>
                {% endif %}
              {% endfor %}
              {% for item in child.attachments.filter(F._attachment_type != 'image') %}
                {% if loop.first %}<br/>{% endif %}
                <a class="inactive" href="{{entry|url}}">{{item.path.split('/')[-1]}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
          {% endif %}
          {{ loop(child.children) }}
        {% endfor %}
      {% else %}
        {{ entry.description }}
      {% endif %}
    </div>
  </div> <!-- end date,author,title row -->
  {% if not from_index %} <!-- log-entry page shows full body contents  -->
    </h2>
    <hr>
    {{ entry.body }}
  {% endif %}
</div> <!-- end class log-entry -->
{% endmacro %}
