{% from "macros/log.html" import get_attachment_icon %}

{% macro render_entry_folders(day, active=None) %}
  {% for folder in day.children %}
    <a href="{{folder|url}}" class={%if folder==active%}"orange"{%else%}"liteorange"{%endif%}>{{folder.path.split('/')[-1]}}/</a>
  {% endfor %}
{% endmacro %}

{% macro render_project_entry(entry, from_index=false, yyyymm=false) %}
{% set day = entry.parent %}
<div class="project-entry">
  {% if not from_index %}<h2>{% endif %}
  <div class="row"> <!-- date,author,title row -->
    <div class="ten columns"> <!-- description -->
      {% if from_index %}
      {% if yyyymm %}
    <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
    <input type="hidden" name="path" value="{{entry.path}}">
    <input type="image" src={{ '/static/images/link.png'|url }}>
    </form>
      <a href="{{day|url}}">{{day.parent.parent.label}}-{{day.parent.label}}-{% endif %}{{ day.path.split('/')[-1]|int }}</a>: <a href="{{ entry|url }}">{{ entry.description }}</a>
      {% else %}
        {{ entry.description }}
      {% endif %}
    </div>
    <div class="two columns"> <!-- reveal in finder -->
{% if not from_index %}
    <form target="frame" action="/admin/api/browsefs" method="post">
    <input type="hidden" name="path" value="{{entry.path}}">
    <input class="button-primary" type="submit" value="{{entry.path.split('/')[-1]}}">
{% endif %}
    </div> 
  </div> <!-- end date,author,title row -->

  {% if not from_index %} <!-- log-entry page shows full body contents  -->
    </h2>
    <hr>
    {{ entry.body }}
  {% endif %}

</div> <!-- end class log-entry -->
{% endmacro %}

{% macro render_attachments(entry) %}
{% if entry.attachments %}
<div class="row">
  <div class="one column"></div>
  <div class="two columns"><!-- Attachments: --></div>
<div class="nine columns">
    {% for image in entry.attachments.images %}
      {% if image.height > 100 %}
        <a href="{{image|url}}"><img src="{{ image.thumbnail(100)|url }}"></a>
      {% else %}
        <a href="{{image|url}}"><img src="{{ image|url }}"></a>
      {% endif %}
    {% endfor %}
    {% if entry.attachments.images %}<br/>{% endif %}
    {% for item in entry.attachments.filter(F._attachment_type != 'image') %}
        <a class="inactive" ref="{{entry|url}}">{{item.path.split('/')[-1]}}</a>
        {{ get_attachment_icon(item._id) }}
        {% if loop.revindex>1 %},{% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro render_entry_footer(entry) %}
{% set foldername = entry.path.split('/')[-1] %}
<hr style="margin-top:2em;">
<div class="row">
<div class="one column"></div>
  <div class="nine columns">
    {% if entry.children %}
    <div class="category">children: 
      {% for child in entry.children %} 
        <a href="{{child|url}}">&boxur;{{child.path.split('/')[-1]}}/</a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="category">folder: <a href="/folders/{{foldername}}"><span class="orange3">{{foldername}}/</span></a></div>
    {% if entry.tags %}
      <div class="category">tags: {{ entry.tags|join(" ") }}</div>
    {% else %}
    <div class="category">tags: None (<a href="/admin/edit?path={{entry|url}}">+</a>)</div>
    {% endif %}
  </div>
  <div class="two columns">
    <span class="u-pull-right">
    {% if entry.parent.author %}
      by {{ entry.parent.author }}
    {% else %}
      author unknown.
    {% endif %}
    </span>
  </div>
</div>
{% endmacro %}