{% macro project_header_links(active=None, show_count=true) %}
{% set project_to_count = {} %}
{% for project in site.query('/projects') %}
  {% set fname = project.path.split('/')[-1] %}
  {% set count = project.children|list|length %}
  {% set _ = project_to_count.update({fname:count}) %}
{% endfor %}

{% if project_to_count %}
  {% set counts = project_to_count|dictsort(false, 'value') %}
  {% set max_count = counts[-1][1] %}
{% else %}
  {% set max_count = 1 %}
{% endif %}

<small>
{% for project in site.query('/projects') %}
  {% set count = project_to_count[project.name]|default(0) %}
  {% set lightness = 82 - 35*(count/(max_count+1)) %}
  <a {% if project.name==active.name %}class="active"{%else%}style="color:hsl(0, 0%, {{lightness}}%);"{%endif%} href="{{project|url}}">{{project.name}}{%if show_count==true%} ({{count}}){%endif%}</a>
{% endfor %}
</small>
{% endmacro %}

{% macro render_project_list(projects) %}
  <ul>
  {% for project in projects %}
    <li><a class="orange" href="{{ project|url }}">{{ project.name }}</a> <input class="little" type="submit" value="+"> </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro browse_to(entry) %}
<form target="frame" action="/admin/api/browsefs" method="post">
<input type="hidden" name="path" value="{{entry.path}}">
<input type="image" src={{ '/static/images/link.png'|asseturl }}>
</form>
{% endmacro %}

{% macro render_attachments(entry, size=50) %}
{% if entry.attachments %}
<div class="row">
  <div class="one column"></div>
  <div class="two columns"><!-- Attachments: --></div>
<div class="nine columns">
    {% for image in entry.attachments.images %}
      {% if image.path.endswith('.svg') %}
        <a class="green" href="{{image|url}}">{{image.path.split('/')[-1]}}</a>
        {{ get_attachment_icon(image._id) }}
      {% elif image.width > size or image.height > size %}
        <a href="{{image|url}}"><img id="{{image._id}}" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)" src="{{ image.thumbnail(size,size)|url }}"></a>
      {% else %}
        <a href="{{image|url}}"><img id="{{image._id}}" draggable="true" ondragstart="drag(event);" ondragend="dragend(event)" src="{{ image|url }}"></a>
      {% endif %}
    {% endfor %}
    {% if entry.attachments.images %}<br/>{% endif %}
    {% for item in entry.attachments.filter(F._attachment_type != 'image') %}
        <a class="green" href="{{item|url}}">{{item.path.split('/')[-1]}}</a>
        {{ get_attachment_icon(item._id) }}{% if not loop.last %},{% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro get_attachment_icon(item_id, color_class='') %}
  {%    if item_id.endswith('.ai') %}<i aria-hidden="true" class="fa fa-object-ungroup"></i>{% endif %}
  {%   if item_id.endswith('.doc') %}<i aria-hidden="true" class="fa fa-file-word-o"></i>{% endif %}
  {%  if item_id.endswith('.docx') %}<i aria-hidden="true" class="fa fa-file-word-o"></i>{% endif %}
  {%   if item_id.endswith('.key') %}<i aria-hidden="true" class="icon ion-easel"></i>{% endif %}
  {%   if item_id.endswith('.ppt') %}<i aria-hidden="true" class="fa fa-file-powerpoint-o"></i>{% endif %}
  {%  if item_id.endswith('.pptx') %}<i aria-hidden="true" class="fa fa-file-powerpoint-o"></i>{% endif %}
  {%   if item_id.endswith('.mp4') %}<i aria-hidden="true" class="fa fa-file-video-o"></i>{% endif %}
  {%   if item_id.endswith('.mpg') %}<i aria-hidden="true" class="fa fa-file-video-o"></i>{% endif %}
  {% if item_id.endswith('.pages') %}<i aria-hidden="true" class="fa fa-pencil-square-o"></i></i>{% endif %}
  {%   if item_id.endswith('.pdf') %}<i aria-hidden="true" class="fa fa-file-pdf-o"></i>{% endif %}
  {%   if item_id.endswith('.psd') %}<i aria-hidden="true" class="fa fa-file-image-o"></i>{% endif %}
  {%    if item_id.endswith('.py') %}<i aria-hidden="true" class="icon ion-social-python"></i>{% endif %}
  {%   if item_id.endswith('.seq') %}<i aria-hidden="true" class="icon ion-ios-pulse"></i>{% endif %}
  {%   if item_id.endswith('.svg') %}<i aria-hidden="true" class="fa fa-object-ungroup"></i>{% endif %}
  {%   if item_id.endswith('.ttf') %}<i aria-hidden="true" class="fa fa-font"></i>{% endif %}
  {%   if item_id.endswith('.tif') %}<i aria-hidden="true" class="fa fa-file-image-o"></i>{% endif %}
 {%   if item_id.endswith('.tiff') %}<i aria-hidden="true" class="fa fa-file-image-o"></i>{% endif %}
 {%   if item_id.endswith('.webm') %}<i aria-hidden="true" class="fa fa-file-video-o"></i>{% endif %}
  {%   if item_id.endswith('.xls') %}<i aria-hidden="true" class="fa fa-file-excel-o"></i>{% endif %}
  {%   if item_id.endswith('.zip') %}<i aria-hidden="true" class="fa fa-file-archive-o"></i>{% endif %}
  {%   if item_id.endswith('.sublime-settings') %}<i aria-hidden="true" class="fa fa-cogs"></i>{% endif %}
{% endmacro %}


{% macro render_project_entry(entry, show_desc=True) %}
<div id="{{entry.date}}">
  <div class="row">
    <div class="four columns"> <!-- description -->
      {% if entry.star %}<span class="x-small {{entry.star}}"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
      {% if show_desc %}
      <small>{{entry.date.strftime('%Y-%b-%d')}}</small>:
        {% if entry.description %}
          <a href="{{ entry|url }}">{{ entry.description }}</a>
        {% else %}
          <a class="lightgray" href="{{ entry|url }}">Untitled</a>
        {% endif %}
      {% else %}
      <small><a href="{{ entry|url }}">{{entry.date.strftime('%Y-%b-%d')}}</a></small>
      {% endif %}
    </div>
    <div class="one column">
      <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
      <input type="hidden" name="path" value="{{entry.path}}">
      <input type="image" src={{ '/static/images/link.png'|url }}>
      </form>
    </div>
      <div class="four columns"> <!-- attachments -->
      {% if entry.attachments %}
        {% for image in entry.attachments.images %}
          {% if image.path.endswith('.svg') %}
            <a class="green" href="{{image|url}}">{{image.path.split('/')[-1]}}</a>
            {{ get_attachment_icon(image._id) }}
          {% elif image.width > 50 or image.height > 50 %}
            <a href="{{image|url}}"><img src="{{ image.thumbnail(50,50)|url }}"></a>
          {% else %}
            <a href="{{image|url}}"><img src="{{ image|url }}"></a>
          {% endif %}
        {% endfor %}
        {% if not entry.attachments.images %}&nbsp;{% endif %}
      {% endif %}
      </div>
      <div class="three columns">&nbsp;
        {{attachment_extension_counts(entry)}}
      </div>
  </div> <!-- end row -->
  {{render_subfolders(entry)}}
</div>
{% endmacro %}


{% macro render_project_entry_list(entrylist) %}

{% set first_entry = entrylist[0] %}
{% set last_entry = entrylist[-1] %}

<div id="{{first_entry.description}}">
  <div class="row">
    <div class="four columns"> <!-- description -->
      <small>{{first_entry.date.strftime('%Y-%b-%d')}}</small>:
      {% if first_entry.description and first_entry.description != 'Untitled' %}
        <a href="{{ first_entry|url }}">{{ first_entry.description }}</a>
        <a href="#" onclick="createEntry('{{first_entry.parent.path}}', document.querySelector('#date').value, '{{ first_entry.description }}' );">+</a>
      {% else %}
        <a class="lightgray" href="{{ first_entry|url }}">Untitled</a>
      {%endif%}
    </div>
    <div class="five columns">
      {% for entry in entrylist[::-1] %}
          <div class="il-flex-col-rev{% if not loop.first %} border-l-red{% endif %}">
          <span class="datelabel">{{entry.date.month}}/{{entry.date.strftime('%d').lstrip('0')}}</span>
          <form target="frame" action="/admin/api/browsefs" method="post">
            <input type="hidden" name="path" value="{{entry.path}}">
            <input type="image" src={{ '/static/images/link.png'|url }}>
          </form>
          </div>
          {% if entry.attachments %}
            {% for image in entry.attachments.images %}
              {% if image.path.endswith('.svg') %}
                <a class="green" href="{{image|url}}">{{image.path.split('/')[-1]}}</a>
                {{ get_attachment_icon(image._id) }}
              {% elif image.width > 50 or image.height > 50 %}
                <a href="{{image|url}}"><img src="{{ image.thumbnail(50,50)|url }}"></a>
              {% else %}
                <a href="{{image|url}}"><img src="{{ image|url }}"></a>
              {% endif %}
            {% endfor %}
            {% if not entry.attachments.images %}&nbsp;{% endif %}
          {% endif %}

      {% endfor %}
      </div>
      <div class="three columns">&nbsp;
      {% for entry in entrylist %}
        {{attachment_extension_counts(entry)}}
        {% if not loop.last %}<br>&nbsp;{% endif %}
      {% endfor %}
      </div>
  </div> <!-- end row -->
  {% for entry in entrylist %}
    {{render_subfolders(entry)}}
  {% endfor %}
</div>
{% endmacro %}


{% macro render_subfolders(entry) %}
  {% for child in entry.children recursive %}
    {% set thumbsize = 50/loop.depth %}
    {% set fontsize = 50-(10*loop.depth0) %}
    <div class="row">
      <div class="three columns">
        <small>
        <a style="margin-left:{{loop.depth * 2}}rem" href="{{child|url}}">&boxur; <span class="orange{{loop.depth+1}}">{{child.path.split('/')[-1]}}/{% if child.description %}</span><span style="font-size:{{fontsize}}%"> {{child.description}}</span>{% else %}</span>{% endif %}</a></small><br/>
      </div>
      <div class="one column">
        <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
        <input type="hidden" name="path" value="{{child.path}}">
        <input type="image" src={{ '/static/images/sublink.png'|url }}>
        </form>
      </div>
      <div class="four columns"> <!-- attachments -->
      {% if child.attachments %}
          {% for image in child.attachments.images %}
            {% if image.path.endswith('.svg') %}
              <a class="green" href="{{image|url}}">{{image.path.split('/')[-1]}}</a>
              {{ get_attachment_icon(image._id) }}
            {% elif image.height > 50 %}
              <a href="{{image|url}}"><img src="{{ image.thumbnail(thumbsize,thumbsize)|url }}"></a>
            {% else %}
              <a href="{{image|url}}"><img src="{{ image|url }}"></a>
            {% endif %}
          {% endfor %}
          {% if not child.attachments.images %}&nbsp;{% endif %}
        </div>
        <div class="two columns">&nbsp;
        {{attachment_extension_counts(child)}}
      {% else %}
        &nbsp;
      {% endif %}
      </div> <!-- five columns -->
    </div> <!-- row -->
    {{ loop(child.children) }}
    {% endfor %}
{% endmacro %}

{% macro attachment_extension_counts(page, include_images=false) %}
  {% set ext_to_count = {} %}
  {% if include_images %}
    {% set attachment_list = page.attachments %}
  {% else %}
    {% set attachment_list = page.attachments.filter(F._attachment_type != 'image') %}
  {% endif %}
  {% for attachment in attachment_list %}
    {% set ext = attachment.path.split('.')[-1] %}
    {% set count = ext_to_count[ext]|default(0) %}
    {% set _ = ext_to_count.update({ext:count+1}) %}
  {% endfor %}
  {% for ext,count in ext_to_count|dictsort %}
    {{get_attachment_icon('.'+ext)}}<span class="green">.{{ext}}</span>{% if count>1 %}<span class="lightgray">({{count}})</span>{% endif %}
  {% endfor %}
{% endmacro %}