{% extends "layout.html" %}
{% from "macros/log.html" import render_months, render_days, render_day_entry, render_day_index %}
{% from "macros/log.html" import link_to_day, link_to_hidden_day %}
{% from "macros/projects.html" import render_my_categories %}
{% from "macros/project-entry.html" import render_attachments, render_entry_footer %}

{% block title %}nb-{{config.PROJECT.name}} {{this.pub_date.strftime('%Y-%b-%d')}}{% endblock %}
{% block body %}

{% for year in site.query('/log') %}
<div class="calendar row">
  <div class="eight columns">
    <a {% if this.parent.parent == year %}class="active"{% endif %} href="{{ year|url }}">{{ year.label }}
    </a>{{ render_months(year.children, this.parent) }}</div>
</div>
{% endfor %}

<div class="row">
  <div class="ten columns">
   <span class="days"><a href="{{this.parent.parent|url}}">{{this.parent.parent.label}}</a>-<a href="{{this.parent|url}}">{{this.parent.label}}</a></span>
   &nbsp;
    {% for entry in site.query(this.parent.path).include_undiscoverable(true) %}
      {% if entry.is_hidden %}
        {{ link_to_hidden_day(entry) }}
      {% else %}
       {{ link_to_day(entry, active=this) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

<h2>{{this.pub_date.strftime('%b %d,%Y')}}</h2>

{% if this.body %}
{{ render_day_entry(this) }}
{{ render_attachments(this) }}
{% else %}

{% for entry in this.children recursive %}
  <h5>{{entry.path.split('/')[-1]}}: <a href="{{entry|url}}">{{entry.description}}</a>
       <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
      <input type="hidden" name="path" value="{{entry.path}}">
      <input type="image" src={{ '/static/images/sublink.png'|url }}>
      </form>
  {{ render_attachments(entry) }}
  {{ loop(entry.children) }}
{% endfor %}

{% endif %}

<iframe width="0" height="0" border="0" name="frame" style="border-style: none;"></iframe>

{% endblock %}
