{% extends "layout.html" %}
{% from "macros/folders.html" import render_folder_nav %}
{% block title %}Folders{% endblock %}
{% block body %}

<h3>Folders</h3>

{% set folder_to_entries = {} %}
{% for entry in site.query('/log') recursive %} 
 {% if entry._model == 'project-entry' %}
   {% set fname = entry.path.split('/')[-1] %}
   {% set entries = [entry]+folder_to_entries[fname]|default([]) %}
   {% set _ = folder_to_entries.update({fname:entries}) %}
 {% endif %}
 {{ loop(entry.children)}}
{% endfor %}

{% set blessed = site.query('/folders')|map(attribute='name')|list %}

{% for folder, entries in folder_to_entries|dictsort %}
<div class="row">
  <div class="two columns">
  {% if folder in blessed %}
    <a class="indent" href="/folders/{{folder}}">&boxur;<span class="orange1">{{folder}}/</span></a>
  {% else %}
    <a class="indent" href="/admin/root:folders/add-child">&boxur;<span class="inactive">{{folder}}/</span></a>
  {% endif %}
  </div>
  <div class="eight columns">
  {% set last_date = None %}
  {% for entry in entries|sort(attribute='parent.pub_date') %}
    {% if last_date.year != entry.parent.pub_date.year %}
      <span class="gray">{{entry.parent.pub_date.strftime('%Y')}}</span>
    {% endif %}
    {% if last_date.month != entry.parent.pub_date.month %}
      <span class="lightgray">{{entry.parent.pub_date.strftime('%b')}}</span>
    {% endif %}
      <a href="{{entry.path|url}}">{{entry.parent.pub_date.strftime('%e')}}</a>
    {% set last_date = entry.parent.pub_date %}
  {% endfor %}
  </div>
</div>
{% endfor %}

<br>
<span class="gray">Unused Folders:</span>
{% set folders = folder_to_entries.iterkeys()|list %}
{% set unused = false %}
{% for b in blessed %}
  {% if not b in folders %}
    <a class="inactive" href="/admin/root:folders:{{b}}/delete">{{b}}</a>
    {% set unused = true %}
  {% endif %}
{% endfor %}
{% if unused %}None.{%endif%}

{% endblock %}
