{% extends "layout.html" %}
{% from "macros/folders.html" import render_folder_nav %}
{% block title %}Folders{% endblock %}

{% block header %}
{% set folder_to_count = {} %}
{% for entry in site.query('/log') recursive %} 
 {% if entry._model == 'project-entry' %}
   {% set fname = entry.path.split('/')[-1] %}
   {% set count = 1+folder_to_count[fname]|default(0) %}
   {% set _ = folder_to_count.update({fname:count}) %}
 {% endif %}
 {{ loop(entry.children)}}
{% endfor %}

{% set counts = folder_to_count|dictsort(false, 'value') %}
{% set max_count = counts[-1][1] %}
{% set existing_folders = this.children|map(attribute='path')|list %}
{% set folders = site.query('/folders') %}

<small>
{% for folder in folders %}
  {% set count = folder_to_count[folder.name]|default(0) %}
  {% set lightness = 82 - 35*(count/max_count) %}
  <a {% if folder.name==this.name %}class="active"{%else%}style="color:hsl(0, 0%, {{lightness}}%);"{%endif%} href="{{folder|url}}">{{folder.name}}</a>
{% endfor %}
</small>
{% endblock %}

{% block body %}

<h3>Folders</h3>

{% set folder_to_entries = {} %}
{% for entry in site.query('/log') recursive %} 
 {% if entry._model == 'project-entry' %}
   {% set fname = entry.path.split('/')[-1] %}
   {% set entries = [entry]+folder_to_entries[fname]|default([]) %}
   {% set _ = folder_to_entries.update({fname:entries}) %}
 {% endif %}
 {{ loop(entry.children)}}
{% endfor %}

{% set blessed = site.query('/folders')|map(attribute='name')|list %}

{% for folder, entries in folder_to_entries|dictsort %}
<div class="row">
  <div class="two columns">
  {% if folder in blessed %}
    <a class="indent" href="/folders/{{folder}}">&boxur;<span class="orange1">{{folder}}/</span></a>
  {% else %}
    <a class="indent" href="/admin/root:folders/add-child">&boxur;<span class="inactive">{{folder}}/</span></a>
  {% endif %}
  </div>
  <div class="eight columns">
  {% set last_date = None %}
  {% for entry in entries|sort(attribute='parent.pub_date') %}
    {% if last_date.year != entry.parent.pub_date.year %}
      <span class="gray">{{entry.parent.pub_date.strftime('%Y')}}</span>
    {% endif %}
    {% if last_date.month != entry.parent.pub_date.month %}
      <span class="lightgray">{{entry.parent.pub_date.strftime('%b')}}</span>
    {% endif %}
      <a href="{{entry.path|url}}">{{entry.parent.pub_date.strftime('%e')}}</a>
    {% set last_date = entry.parent.pub_date %}
  {% endfor %}
  </div>
</div>
{% endfor %}

<br>
Unused Folders:
{% set folders = folder_to_entries.iterkeys()|list %}
{% for b in blessed %}
  {% if not b in folders %}
    <a class="inactive" href="/admin/root:folders:{{b}}/delete">{{b}}</a>
  {% endif %}
{% endfor %}



{% endblock %}
