{% extends "layout.html" %}
{% from "macros/log.html" import render_day_entry %}
{% from "macros/projects.html" import render_category_nav, render_project_list %}
{% from "macros/project-entry.html" import render_project_entry %}

{% block title %}Project Folders {{ this.name }}{% endblock %}
{% block body %}
  <h3>Project Folder <span class="orange">/{{ this.name }}</span></h3>
 <div class="category">{{ render_category_nav(active=this._id) }}</div>
  {{ render_project_list(this.children) }}

{% for year in site.query('/log') %}
  {% for month in year.children %}
    {% for day in month.children %}
      {% for entry in day.children %}
        {% if this.name == entry.path.split('/')[-1] %}
          {{ render_project_entry(entry, from_index=true, yyyymm=true) }}
          {% for image in entry.attachments.images %}
            <a href="{{day|url}}"><img src="{{ image.thumbnail(100,100)|url }}"></a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}

<iframe width="0" height="0" border="0" name="frame" style="border-style: none;"></iframe>

{% endblock %}
