<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{{ '/static/favicon.ico'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/lib/normalize.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/lib/skeleton.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/lib/medium-editor/medium-editor.min.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/anonymous-pro/anonymous-pro.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fa/css/font-awesome.min.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/ionicons/css/ionicons.min.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/source-sans-pro/source-sans-pro.css'|asseturl }}">

<!-- <script src="{{ '/static/lib/clipboard.min.js'|asseturl }}"></script> -->
<script src="{{ '/static/lib/jquery-2.2.1.min.js'|asseturl }}"></script>
<script src="{{ '/static/lib/marked.js'|asseturl }}"></script>
<script src="{{ '/static/lib/MooTools-Core-1.6.0.js'|asseturl }}"></script>
<script src="{{ '/static/lib/sprintf.js'|asseturl }}"></script>
<script src="{{ '/static/lib/medium-editor/medium-editor.min.js'|asseturl }}"></script>
<script src="{{ '/static/lib/me-markdown.standalone.min.js'|asseturl }}"></script>
<script src="{{ '/static/lr-notebook.js'|asseturl }}"></script>


<title>{% block title %}Welcome{% endblock %}</title>
<body>
  <header>
    <h1><i class="fa fa-sticky-note-o"></i> nb-{{config.PROJECT.name}}</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li><a {% if this._path == '/' %} class="active"{% endif
          %} href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/projects', 'Projects'],
          ['/calendar', 'Calendar'],
          ['/meetings', 'Meetings'],
          ['/about', 'About']
        ] %}
          <li><a {% if this.is_child_of(href) %} class="active"{% endif
            %} href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% block header %}{% endblock %}
  </header>

  <iframe width="0" height="0" border="0" name="frame" style="border-style: none;"></iframe>

  <div class="page">
    {% block body %}{% endblock %}
  </div>

  <footer>
    &copy; 2016. Made with <a target="_new" href="http://bionano.ucsf.edu/"><i class="fa {{ get_random_fa_icon_class() }}"></i></a> in SF.
  </footer>

</body>
