{% extends "layout.html" %}
{% from "macros/log.html" import render_months %}
{% from "macros/log.html" import render_log_entry %}
{% from "macros/log.html" import link_to_entry %}
{% from "macros/log.html" import link_to_hidden_entry %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
{% for year in site.query('/log') %}
  <div class="calendar row">
    <div class="eight columns">
  <a {% if this.parent == year %}class="active"{% endif %} href="{{ year|url }}">
  {{ year.label }}</a>{{ render_months(year.children, this) }}
    </div>
  </div>
{% endfor %}

<iframe width="0" height="0" border="0" name="frame" style="border-style: none;"></iframe>

<div class="row">
  <div class="ten columns">
   <span class="days">{{this.parent.label}}-{{this.label}}</span>
   &nbsp;
    {% for entry in site.query(this.path).include_undiscoverable(true) %}
      {% if entry.is_hidden %}
        {{ link_to_hidden_entry(entry) }}
      {% else %}
       {{ link_to_entry(entry, active=this) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% for entry in this.children.include_undiscoverable(true) %}
<div class="row">
  <div class="ten columns">

    <form style="display:inline;" target="frame" action="/admin/api/browsefs" method="post">
    <input type="hidden" name="path" value="{{entry.path}}">
    <input type="image" src={{ '/static/images/link.png'|url }}>
    </form>

    {{ render_log_entry(entry, from_index=true) }}
  </div>
</div>

<div class="row">
  <div class="one column"></div>
<div class="nine columns">
    {% for image in entry.attachments.images %}
      {% if image.height > 100 %}
        <a href="{{entry|url}}"><img src="{{ image.thumbnail(100)|url }}"></a>
      {% else %}
        <a href="{{entry|url}}"><img src="{{ image|url }}"></a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}

