{% extends "layout.html" %}
{% from "macros/log.html" import render_months %}
{% from "macros/log.html" import render_day_entry %}
{% from "macros/log.html" import render_day_index %}

{% from "macros/log.html" import link_to_day %}
{% from "macros/log.html" import link_to_hidden_day %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% for year in site.query('/log') %}
  <div class="calendar row">
    <div class="eight columns">
  <a {% if this.parent == year %}class="active"{% endif %} href="{{ year|url }}">
  {{ year.label }}</a>{{ render_months(year.children, this) }}
    </div>
  </div>
{% endfor %}

<!-- Display the YYYY-Mon and links to days -->
<div class="row">
  <div class="ten columns">
   <span class="days">{{this.parent.label}}-{{this.label}}</span>
   &nbsp;
    {% for entry in site.query(this.path).include_undiscoverable(true) %}
      {% if entry.is_hidden %}
        {{ link_to_hidden_day(entry) }}
      {% else %}
       {{ link_to_day(entry, active=this) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% for entry in this.children.include_undiscoverable(true) %}
  {{ render_day_index(entry)}}
{% endfor %}

<iframe width="0" height="0" border="0" name="frame" style="border-style: none;"></iframe>

{% endblock %}

