{% extends "layout.html" %}
{% from "macros/projects.html" import project_header_links %}
{% from "macros/projects.html" import render_project_list %}
{% from "macros/projects.html" import browse_to %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="row">
  <div class="two columns">
    <h1>Projects</h1>
  </div>
  <div class="four columns">
    <span style="color:#33C3F0">+Date</span> = <input id="date" type="date" value="2016-03-22">
  </div>
  <div class="five columns">
    <small class="lightgray">Click a project's <span class="linkblue">+</span> to create the selected date's entry</small>
  </div>
</div>
<hr>

{% for item in this.children recursive %}
  {% if item._model != 'entry' %}
    <div class="row">
      <div class="two columns">
        {{browse_to(item)}}
        {% if item._model == 'project' %}
          {% set spanclass = 'orange' %}
        {% elif item._model == 'folder' %}
          {% set spanclass = 'green' %}
        {% endif %}
        <a style="margin-left:{{loop.depth0 * 2}}rem;" href="{{ item|url }}">&boxur;<span class="{{spanclass}}">{{ item.name }}</span></a>
        {% if item.star %}<span class="small {{item.star}}"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
      </div>
      <div class="nine columns">
        <small>
        {% set latest = {'yyyy': 1900, 'mm':0} %}
        {% for entry in item.children.filter(F._model=='entry')|sort(attribute='date') %}
          {% if entry.date.year > latest.yyyy %}
            <span class="gray">{{entry.date.year}}</span>
            {% set _ = latest.update({'yyyy': entry.date.year, 'mm':0}) %}
          {% endif %}
          {% if entry.date.month > latest.mm %}
            <span class="lightgray">{{entry.date.strftime('%b')}}</span>
            {% set _ = latest.update({'mm': entry.date.month}) %}
          {% endif %}
          <a href="{{entry|url}}">{{entry.date.strftime('%d').lstrip('0')}}{% if entry.star %}<span class="x-small {{entry.star}}"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}</a>
        {% endfor %}
      </small> <a href="#" onclick="createEntry('{{item.path}}', document.querySelector('#date').value );">+</a></li>
      </div>
    </div>

  {{loop(item.children)}}

  {% endif %}
{% endfor %}

<div class="row">
  <div style="margin-left:2.4rem;" class="ten columns">
    <span style="color:#1EAEDB;">&boxur;</span><form id="npform"><input id="npinput" class="newproject" type="text" placeholder="new-project" pattern="[_\-a-zA-Z0-9]+" spellcheck="false" oninput="validate('npform','npsubmit','npwarn');">
    <input id="npsubmit" type="submit" class="textbutton" onclick="createProject('{{this.path}}',document.querySelector('#npinput').value );" value="+"><span id="npwarn" class=" inlinewarning"><i class="fa">&#xf071;</i> alphanumeric chars only (no whitespace)</span></form>
  </div>
</div>

<script>
(function () {
    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
    var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0,-1).substring(0, 10);
    document.querySelector('#date').value = localISOTime;
})()
</script>

{% endblock %}
