{% extends "layout.html" %}
{% from "macros/projects.html" import project_header_links %}
{% from "macros/projects.html" import render_project_list %}
{% from "macros/projects.html" import browse_to %}


{% block title %}Projects{% endblock %}

{% block header %}
  {{project_header_links(this)}}
{% endblock %}

{% block body %}
<script>
function createProject(path, projectname) {
    $.ajax({
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        processData: false,
        url: "/admin/api/newrecord",
        data: JSON.stringify({"id":projectname,
                              "path":path,
                              "data":{"name":projectname,
                                      "date":new Date().toISOString().substring(0, 10)}})
    });
    location.reload();
}


function createFolder(path, foldername) {
    $.ajax({
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        processData: false,
        url: "/admin/api/newrecord",
        data: JSON.stringify({"id":foldername,
                              "path":path,
                              "data":{"_model":"folder",
                                      "date":new Date().toISOString().substring(0, 10),
                                      "name":foldername}})
    });
    location.reload();
}

function createEntry(path, projectdate) {
    $.ajax({
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        processData: false,
        url: "/admin/api/newrecord",
        data: JSON.stringify({"id":projectdate,
                              "path":path,
                              "data":{"_model":"entry",
                                      "date":projectdate}})
    });
    location.reload();
}
</script>


<div class="row">
  <div class="two columns">
    <h1>Projects</h1>
  </div>
  <div class="four columns">
    <span style="color:#33C3F0">+Date</span> = <input id="date" type="date" value="2016-03-22">
  </div>
  <div class="five columns">
    <small class="lightgray">Click a project's <span class="linkblue">+</span> to create the selected date's entry</small>
  </div>
</div>
<hr>

{% for item in this.children recursive %}
  {% if item._model != 'entry' %}
    <div class="row">
      <div class="two columns">
        {{browse_to(item)}}
        {% if item._model == 'project' %}
          {% set spanclass = 'orange' %}
        {% elif item._model == 'folder' %}
          {% set spanclass = 'green' %}
        {% endif %}
        <a style="margin-left:{{loop.depth0 * 2}}rem;" href="{{ item|url }}">&boxur;<span class="{{spanclass}}">{{ item.name }}</span></a>
      </div>
      <div class="nine columns">
        <small>
        {% set yyyy = 1900 %}
        {% set mm = 0 %}
        {% for entry in item.children.filter(F._model=='entry')|sort(attribute='date') %}
          {% if entry.date.year > yyyy %}
            <span class="gray">{{entry.date.year}}</span>
            {% set yyyy = entry.date.year %}
            {% set mm = 0 %}
          {% endif %}
          {% if entry.date.month > mm %}
            <span class="lightgray">{{entry.date.strftime('%b')}}</span>
            {% set mm = entry.date.month %}
          {% endif %}
          <a href="{{entry.parent|url}}#{{entry.date}}">{{entry.date.strftime('%e')}}</a>
        {% endfor %}
      </small> <a href="#" onclick="createEntry('{{item.path}}', document.querySelector('#date').value );">+</a></li>
      </div>
    </div>

  {{loop(item.children)}}

    <div class="row">
      <div class="five columns">
        <span style="margin-left:{{loop.depth0 * 3 + 2.4}}rem; color:#4daf4a;">&boxur;</span><input id="newfolder{{loop.depth0}}{{loop.index0}}" class="newfolder" type="text" placeholder="new">
        <a href="#" class="green" onclick="createFolder('{{item.path}}', document.querySelector('#newfolder{{loop.depth0}}{{loop.index0}}').value );">+</a>
      </div>
    </div>
  {% endif %}
{% endfor %}

<div class="row">
  <div style="margin-left:2.4rem;" class="ten columns">
    <span style="color:#1EAEDB;">&boxur;</span><input id="newproject" class="newproject" type="text" placeholder="new-project">
    <a href="#" class="orange" onclick="createProject('{{this.path}}',document.querySelector('#newproject').value );">+</a>
  </div>
</div>

<script>
(function () {
    var date = new Date().toISOString().substring(0, 10),
        field = document.querySelector('#date');
    field.value = date;
    console.log(field.value);

})()
</script>

{% endblock %}
