<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}{{ this.name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/fonts/fa/css/font-awesome.min.css'|asseturl }}">
    <link rel="stylesheet" href="/static/lib/reveal/css/reveal.css">
    <link rel="stylesheet" href="/static/lib/reveal/css/theme/white.css" id="theme">
    <link rel="stylesheet" href="/static/slides.css">
    <style>#lektor-edit-link {display:none;}</style>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
      {% block body %}
      <section data-markdown data-separator="^\n\n">
        {{this.parent.body.source | replace('src="', 'src="../') | replace('poster="', 'poster="../') }}
      </section>
      {% endblock %}
      </div>
    </div>

    <script src="{{ '/static/lib/reveal/lib/js/head.min.js'|asseturl }}"></script>
    <script src="{{ '/static/lib/reveal/js/reveal.js'|asseturl }}"></script>
    <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        center: false,
        history: true,
        margin: 0.2,
        transition: 'fade', // none/fade/slide/convex/concave/zoom
        transitionSpeed: 'fast', // default/fast/slow

        menu: {
            // Specifies which side of the presentation the menu will
            // be shown. Use 'left' or 'right'.
            side: 'left',

            // Add slide numbers to the titles in the slide list.
            // Use 'true' or format string (same as reveal.js slide numbers)
            numbers: false,

            // Specifies which slide elements will be used for generating
            // the slide titles in the menu. The default selects the first
            // heading element found in the slide, but you can specify any
            // valid css selector and the text from the first matching
            // element will be used.
            // Note: that a section data-menu-title attribute or an element
            // with a menu-title class will take precedence over this option
            titleSelector: 'h1, h2, h3, h4, h5, h6',

            // Hide slides from the menu that do not have a title.
            // Set to 'true' to only list slides with titles.
            hideMissingTitles: false,

            // Add markers to the slide titles to indicate the
            // progress through the presentation
            markers: true,

            // Specify custom panels to be included in the menu, by
            // providing an array of objects with 'title', 'icon'
            // properties, and either a 'src' or 'content' property.
            custom: false,

            // Specifies the themes that will be available in the themes
            // menu panel. Set to 'false' to hide themes panel.
            themes: [
                { name: 'Black', theme: '/static/lib/reveal/css/theme/black.css' },
                { name: 'White', theme: '/static/lib/reveal/css/theme/white.css' },
                { name: 'League', theme: '/static/lib/reveal/css/theme/league.css' },
                { name: 'Sky', theme: '/static/lib/reveal/css/theme/sky.css' },
                { name: 'Solarized', theme: '/static/lib/reveal/css/theme/solarized.css' }
            ],

            // Specifies if the transitions menu panel will be shown.
            transitions: true,

            // Adds a menu button to the slides to open the menu panel.
            // Set to 'false' to hide the button.
            openButton: true,

            // If 'true' allows the slide number in the presentation to
            // open the menu panel. The reveal.js slideNumber option must
            // be displayed for this to take effect
            openSlideNumber: false,

            // If true allows the user to open and navigate the menu using
            // the keyboard. Standard keyboard interaction with reveal
            // will be disabled while the menu is open.
            keyboard: true
        },

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: "{{ '/static/lib/reveal/plugin/markdown/marked.js'|url }}" },
          { src: "{{ '/static/lib/reveal/plugin/markdown/markdown.js'|url }}" },
          { src: "{{ '/static/lib/reveal/plugin/menu/menu.js'|url }}"},
          { src: "{{ '/static/lib/reveal/plugin/zoom-js/zoom.js'|url }}", async: true },
          { src: "{{ '/static/lib/reveal/plugin/notes/notes.js'|url }}", async: true },
          { src: "{{ '/static/lib/reveal/plugin/highlight/highlight.js'|url }}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>

    <a href=".." id="exit-slides-link"><i class="fa fa-close" aria-hidden="true"></i></a>
  </body>
</html>
