@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/anonymouspro-regular-webfont.eot');
    src: url('EOT/anonymouspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('WOFF2/anonymouspro-regular-webfont.woff2') format('woff2'),
         url('WOFF/anonymouspro-regular-webfont.woff') format('woff'),
         url('TTF/anonymouspro-regular-webfont.ttf') format('truetype'),
         url('SVG/anonymouspro-regular-webfont.svg#anonymous_proregular') format('svg');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/anonymouspro-italic-webfont.eot');
    src: url('EOT/anonymouspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('WOFF2/anonymouspro-italic-webfont.woff2') format('woff2'),
         url('WOFF/anonymouspro-italic-webfont.woff') format('woff'),
         url('TTF/anonymouspro-italic-webfont.ttf') format('truetype'),
         url('SVG/anonymouspro-italic-webfont.svg#anonymous_proitalic') format('svg');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/anonymouspro-bold-webfont.eot');
    src: url('EOT/anonymouspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('WOFF2/anonymouspro-bold-webfont.woff2') format('woff2'),
         url('WOFF/anonymouspro-bold-webfont.woff') format('woff'),
         url('TTF/anonymouspro-bold-webfont.ttf') format('truetype'),
         url('SVG/anonymouspro-bold-webfont.svg#anonymous_probold') format('svg');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/anonymouspro-bolditalic-webfont.eot');
    src: url('EOT/anonymouspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('WOFF2/anonymouspro-bolditalic-webfont.woff2') format('woff2'),
         url('WOFF/anonymouspro-bolditalic-webfont.woff') format('woff'),
         url('TTF/anonymouspro-bolditalic-webfont.ttf') format('truetype'),
         url('SVG/anonymouspro-bolditalic-webfont.svg#anonymous_probold_italic') format('svg');
}
