
@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-Light.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-Light.otf.woff') format('woff'),
         url('OTF/AnonymousPro-Light.otf') format('opentype'),
         url('TTF/AnonymousPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-LightIt.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-LightIt.otf.woff') format('woff'),
         url('OTF/AnonymousPro-LightIt.otf') format('opentype'),
         url('TTF/AnonymousPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-Regular.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-Regular.otf.woff') format('woff'),
         url('OTF/AnonymousPro-Regular.otf') format('opentype'),
         url('TTF/AnonymousPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-It.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-It.otf.woff') format('woff'),
         url('OTF/AnonymousPro-It.otf') format('opentype'),
         url('TTF/AnonymousPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-Semibold.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-Semibold.otf.woff') format('woff'),
         url('OTF/AnonymousPro-Semibold.otf') format('opentype'),
         url('TTF/AnonymousPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-SemiboldIt.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-SemiboldIt.otf.woff') format('woff'),
         url('OTF/AnonymousPro-SemiboldIt.otf') format('opentype'),
         url('TTF/AnonymousPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-Bold.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-Bold.otf.woff') format('woff'),
         url('OTF/AnonymousPro-Bold.otf') format('opentype'),
         url('TTF/AnonymousPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-BoldIt.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-BoldIt.otf.woff') format('woff'),
         url('OTF/AnonymousPro-BoldIt.otf') format('opentype'),
         url('TTF/AnonymousPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-Black.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-Black.otf.woff') format('woff'),
         url('OTF/AnonymousPro-Black.otf') format('opentype'),
         url('TTF/AnonymousPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Anonymous Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/AnonymousPro-BlackIt.eot') format('embedded-opentype'),
         url('WOFF2/TTF/AnonymousPro-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/AnonymousPro-BlackIt.otf.woff') format('woff'),
         url('OTF/AnonymousPro-BlackIt.otf') format('opentype'),
         url('TTF/AnonymousPro-BlackIt.ttf') format('truetype');
}
