
/* Override skeleton.css */
body {
  margin: 50px 50px;
  background: #fcfcfc;
}

table {
  border:#c9c9c9 1px solid; margin: 1em 1em 1em 0; border-collapse: collapse;
}

a {
  text-decoration: none;
}

a.description {
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 1.8rem;
}

header, footer, div.page {
  max-width: 1200px;
}

header, h4 {
  margin-bottom: 0;
}

header nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}

footer {
  margin-top: 2em;
}


/* Colors */
.red {color: #cc0000;}
.lightred {color: #ff4d4d;}
.orange {color: #FF7F00;}
.lightorange {color: #FCBD7F;}
.yellow {color:#ccbb00;}
.lightyellow {color:#f8e517;}
.green {color: #4daf4a;}
.lightgreen {color: #b5d1b1;}
.blue {color: #377eb8;}
.lightblue {color: #169bbd;}
.purple {color: #984ea3;}
.lightpurple {color: #8c6e91;}
.gray {color:#666666;}
.midgray {color:#999999;}
.lightgray {color:#cccccc;}

.active {color:#cc0000;}
.inactive {color:#cccccc;}
.linkblue {color: #1EAEDB;}

/* Some templates use a recursive loop.depth index to set color. */
.orange1 {color: #FF7F00;}
.orange2 {color: #FE9E40;}
.orange3 {color: #FCBD7F;}
.orange4, .orange5, .orange6, .orange7, .orange8, .orange9 {color: #FBDCBF;}

/* Font Sizes */
.small { font-size:small; }
.x-small { font-size:x-small; }


/* Images */
img.smallthumb, img.littlethumb {
  max-height: 100px;
  max-width: 100px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

img.thumb {
  max-height: 180px;
  max-width: 180px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

img.bigthumb {
  max-height: 400px;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Forms */
input[type="submit"].hidden-button-link {
  border:none;
  outline:none;
  cursor:pointer;
  color:#ccc;
  padding:0;
  margin-top:1em;
}

input[type="image"] {
  display: inline;
  float: left;
  margin-right:0.25em;
}

form {
  display: inline;
  margin:0;
  padding:0;
}


/* Styles for UI elements that talk to Lektor admin api (e.g. /projects) */
details summary::-webkit-details-marker {
  color: #999999;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  content: "+"; 
  color: #999999;
  float: left; 
  padding: 0; 
  text-align: center; 
}
details[open] summary:after {
  content: "-";
}

input[type="submit"].little {
  padding: 0px 2px;
  height: 1.5rem;
  line-height:0.5rem;
  background-color: #fff;
  border: 1px solid #33C3F0;
  border-radius: 2px;
}

input[type="date"] {
  border: 1px solid #33C3F0;
}

input[type="date"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"].newproject::-webkit-input-placeholder {
  color: #FCBD7F;
}

input[type="text"].newfolder::-webkit-input-placeholder {
  color: #b5d1b1;
}

input[type="text"].newproject {
  padding: 2px 0px 3px 4px;
  border: 1px solid #eee;
  border-radius: 2px;
  width: 90px;
}

input[type="text"].newfolder {
  padding: 0px 2px;
  width: 80px;
  border: 1px solid #eee;
  border-radius: 2px;
}

/* Entry styles */
#entry {
  margin-top: 3rem;
  margin-bottom: 5em;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

#entry ol {
    list-style: none;
    counter-reset: count;
}
#entry ol li:before {
    content: counter(count, decimal) ".";
    counter-increment: count;
    font-weight: bold;
    margin-right: 1.0rem;
}

#entry table {
  margin-left: 1rem;
}

#entry th, #entry td {
  border: none;
  margin: 1em 1em 1em 0; border-collapse: collapse;
}

/* Single column (mobile) */
@media (min-width: 400px) {
  #entry h1, #entry h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: -1.5rem;
    margin-bottom: 1.0rem;
    margin-left: -1.5rem;
    padding-top: 0.6rem;
    padding-right: 1.5rem;
    padding-bottom: 0.4rem;
    padding-left: 1.5rem;
    color:#fff;
    background: #377eb8;
    clear: both;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

  #entry h2 {
    margin-top: 2rem;
    width: 100%;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
  }

  #entry h3, #entry h4, #entry h5, #entry h6 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1.5rem;
    width: 70%;
    clear: both;
  }

  #entry body, #entry ul, #entry li {
    font-size: 1.6rem;
    width: 96%;
  }

  #entry img {
    max-width: 96%;
    border-radius: 4px;
    background: #fff;
  }
} /* end Single column (mobile) */


/* Two column (desktop) */
@media (min-width: 550px) {

  #entry {
    background: linear-gradient(90deg, #fcfcfc 50%, #f6f6f6 50%);
  }

  #entry h1 { font-size: 2.4rem; font-weight: 400; }
  #entry h2 { font-size: 2.0rem; }
  #entry h3 { font-size: 2.0rem; }
  #entry h4 { font-size: 1.8rem; }
  #entry h5 { font-size: 1.6rem; }
  #entry h6 { font-size: 1.5rem; }

  #entry h1, #entry h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: -1.5rem;
    margin-bottom: 1.0rem;
    margin-left: -1.5rem;
    padding-top: 0.6rem;
    padding-right: 1.5rem;
    padding-bottom: 0.4rem;
    padding-left: 1.5rem;
    color:#fff;
    background: #377eb8;
    clear: both;
  }

  #entry h2 {
    margin-top: 2rem;
    width: 47%;
  }

  #entry h3, #entry h4, #entry h5, #entry h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 47%;
    clear: both;
  }

  #entry img {
    border-radius: 4px;
    background: #fff;
    clear: both;
    display: inline;
    max-width: 96%;
  }

  #entry p {
    width: 46%;
    float: left;
    clear: left;
    margin-left: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  #entry li {
    float: left;
    clear: left;
    width: 46%;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  #entry li > p {
    width: 96%;
  }

  #entry pre {
    clear:left;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  #entry pre > code {
    margin-left: 2rem;
    background: #eee;
    border: 1px solid #E1E1E1;
  }

  .right {
    width: 50%;
    float: right;
    clear: right;
    display: inline;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 90%;
  }

  #entry .right p {
    width: 96%;
    line-height: 1.3;
    margin-left: 2rem;
  }

  #entry .right li {
    width: 96%;
  }

  #entry .right table {
    border: none;
  }

  /* Here we force float:right because wrapping in a .right div
     would break pygments rendering is done by markdown-highlighter plugin */
  #entry .highlight {
    width: 45%;
    font-size: 90%;
    float: right;
    display: inline;
    margin-right: 1rem;
    background: #eee;
    border: 1px solid #E1E1E1;
    padding: 0rem 1rem 0rem 1rem;
  }
} /* end Two column (desktop) */
